[submodule "Bundles/Cucumber.tmbundle"]
	path = Bundles/Cucumber.tmbundle
	url = git://github.com/bmabey/cucumber-tmbundle.git
[submodule "Bundles/Rails.tmbundle"]
	path = Bundles/Rails.tmbundle
	url = git://github.com/drnic/ruby-on-rails-tmbundle.git
[submodule "Bundles/rSpec.tmbundle"]
	path = Bundles/rSpec.tmbundle
	url = git://github.com/dchelimsky/rspec-tmbundle.git
[submodule "Bundles/Ruby.tmbundle"]
	path = Bundles/Ruby.tmbundle
	url = git://github.com/drnic/ruby-tmbundle.git
[submodule "Bundles/Git.tmbundle"]
	path = Bundles/Git.tmbundle
	url = git://github.com/timcharper/git-tmbundle.git
[submodule "Bundles/Copy as RTF.tmbundle"]
	path = Bundles/Copy as RTF.tmbundle
	url = git://github.com/drnic/copy-as-rtf-tmbundle.git
[submodule "Bundles/Factory Girl.tmbundle"]
	path = Bundles/Factory Girl.tmbundle
	url = git://github.com/olly/factory-girl-tmbundle.git
[submodule "Bundles/Seperators.tmbundle"]
	path = Bundles/Seperators.tmbundle
	url = git://github.com/olly/seperators-tmbundle.git
[submodule "Bundles/screw-unit.tmbundle"]
	path = Bundles/screw-unit.tmbundle
	url = git://github.com/coreyti/screw-unit-tmbundle.git
